.b{background-color: rgb(16, 118, 243);
padding-top: 5px;
padding-bottom: 800px;}

header{padding: 50px;
background-color: rgb(150, 142, 142);
/* grey background */

text-align: center;
color: white;

}

body{

margin: 0px;

}

header h1{

font-size: 40px;


}

.h h2{text-align:center;}


nav{
    background-color:#333;
    overflow: hidden;
}
nav a{display: block;
float: left;
padding: 30px;
color: white;
text-decoration: none;}

nav a :hover{color:black}


a:hover{color: blue;}

p{color: white;}